@import "./variables.scss";

body {
  // background-color: #fcf7c8;
  background-image: linear-gradient(to left, $light-color, $base-color);
  // background-color: $base-color;
  box-sizing: border-box;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $light-color;
  }
}
