$smokey-black: #0A0F0D;
$forest-green: #157F1F;
$medium-sea-green: #4CB963;
$magic-mint: #A0EADE;
$paynes-grey: #5C6784;

$primary-color: $forest-green;
$secondary-color: $medium-sea-green;
$link-color: $magic-mint;
$link-background: $paynes-grey;
$dark-color: $smokey-black;