$forest-green: #157F1F;
$medium-sea-green: #4CB963;
$magic-mint: #A0EADE;
$paynes-grey: #5C6784;

$smokey-black: #0A0F0D;
$space-cadet: #190E4F;
$sunset-orange: #FE5F55;
$canary: #FFFF82;
$midnight: #631D76;
$cadet-blue: #56A1A9;

$base-color: $space-cadet;
$accent-color: $sunset-orange;
$light-color: $cadet-blue;
$dark-color: $smokey-black;
$link-color: $midnight;

// $primary-color: $smokey-black;
// $secondary-color: $space-cadet;
// $link-color: $magic-mint;
// $link-background: $paynes-grey;
// $dark-color: $smokey-black;

