@import "../styles/variables.scss";

h1 {
  font-size: 2.5rem;
  color: $light-color;
  margin: 0;

  @media (max-width: 400px) {
    font-size: 1.5rem;
  }
}

.post-list-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 2px dashed $dark-color;
  padding-top: 20px;

  @media (max-width: 400px) {
    flex-direction: column-reverse;
  }
}

.blog-column {
  width: 60%;

  @media (max-width: 400px) {
    width: 99%;
  }
}

.tech-logos {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  img {
    height: 100px;
  }

  @media (max-width: 400px) {
    width: 100%;
    border-bottom: 2px dashed $dark-color;
    align-items: baseline;
  }
}

#site-header {
  padding: 3%;
  // background-image: linear-gradient(to right, $base-color, $accent-color);
  background-color: $dark-color;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
